<nav>
  <h1>The blog:</h1>
  <h2> by serejandmyself <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p> 
    <a href="https://blocksult.com/"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter the rabbit hole</a>
    </p>
     <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="Blocksult"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo - blocksult"/>
    {% endif %}
  </a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  <!-- Begin SpecificFeeds Subscription Form -->
<div class="gt_newpost" style="padding: 20px; outline: currentcolor none 0px; vertical-align: baseline; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 90%; box-shadow: rgb(204, 204, 204) 0px 0px 5px; display: inline-table; border: 1px solid rgb(204, 204, 204); width: 190px; height: auto;">
    <div class="form-overlay"></div>
    <form method="post" target="popupwindow" action="https://www.specificfeeds.com/widgets/subscribeWidget/UjdLM2NCUmlpZEYyZmxGYWlRNGl0QWFobnpCVjBHSnhta0tSZHVidHp2QnVCajY4WVVwZ2Y5TWU2MzBWWVErS050ME9UMWdMOWNBMTZxZldBYzZ4SzYzajQxNDdWN0lRZUVybk8rM3lsdnRyelVFODM2d3pQTEJaYitzSmh0STV8RGdXbGtjK0Nwdm90N1NGZWJJS2FyWFVoNFRwTjdCelJxZHliL0NMU2h1VT0=/8/">
        <p style="margin: 0px; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; font-size: 16px; text-align: center; font-weight: bold;">Get new posts by email:</p>
        <input type="text" name="data[Widget][email]" placeholder="Enter your email" value="" style="margin: 15px 0 0 0; line-height: 38px; font-size: 16px; width: 100%; text-align: center;">
        <input type="hidden" name="data[Widget][feed_id]" value="UjdLM2NCUmlpZEYyZmxGYWlRNGl0QWFobnpCVjBHSnhta0tSZHVidHp2QnVCajY4WVVwZ2Y5TWU2MzBWWVErS050ME9UMWdMOWNBMTZxZldBYzZ4SzYzajQxNDdWN0lRZUVybk8rM3lsdnRyelVFODM2d3pQTEJaYitzSmh0STV8RGdXbGtjK0Nwdm90N1NGZWJJS2FyWFVoNFRwTjdCelJxZHliL0NMU2h1VT0=">
        <input type="hidden" name="data[Widget][feedtype]" value="8">
        <input type="submit" value="Subscribe" name="subscribe" class="sub_inp_subt" style="line-height: 38px; margin: 15px 0px 0px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); width: 100%; font-size: 16px; cursor: pointer; box-shadow: rgb(102, 102, 102) 1px 1px 0px !important; font-family: Helvetica, Arial, sans-serif; text-align: center; font-weight: bold;">
    </form>
</div>
<!-- End SpecificFeeds Subscription Form -->
</nav>
