<nav>
  <h1>The blog:</h1>
  <h2> by serejandmyself <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p> 
    <a href="https://blocksult.com/"> &nbsp; &nbsp; &nbsp; &nbsp; Enter the rabbit hole</a>
    </p>
     <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="Blocksult"/>
    {% else %}
    <img src="/logo.png" class="center" id="logo" alt="Blog logo - blocksult"/>
    {% endif %}
  </a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
