<nav>
  <h1>Blocksult</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2> by serejandmyself <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> Enter the rabbit hole here: </p>
    <p>
      <a href="https://blocksult.com/">blocksult.com</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
