<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}  

  <link rel="stylesheet" href="/assets/main.css"><link type="application/atom+xml" rel="alternate" href="https://serejandmyself.github.io/feed.xml" title="The blog" />
  
<title> </title>

</head>
 
<body>
  
  {{ content }}

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">The blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">serejandmyself</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/serejandmyself"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">serejandmyself</span></a></li><li><a href="https://www.twitter.com/sergeys1234"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">sergeys1234</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>The &quot;no bullshit&quot; blog. Here, you will find all the posts about crypto from blocksult.com and me - serejandmyself, on crypto related topics, like - technology, anarchy, economics, anti-politics and others. No ads, no bullshit, no pictures.</p>
      </div>
    </div>

  </div>

</footer>  
  
</body>
</html>
